.about-page {

}
.about-title {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #43aa8b;
    height: 200px;
    align-items: center;
}
.about-title-h1 {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 36px;
    font-weight: bolder;
}