<!-- <fa-icon [icon]="faCoffee"></fa-icon>
<i class="fa-volume-up"></i>
<fa-icon [icon]="faVolumeUp"></fa-icon> -->
<div class="app-component">
  <div class="nav-bar">
    <div class="nav-bar-logo">
      <img [src]="logo" alt="logo" class="nav-bar-logo-img" />
    </div>
    <div class="nav-bar-items">
      <a routerLink="/home">Home</a>
      <a routerLink="/home">Nesto</a>
      <a routerLink="/home">Drugo</a>
    </div>
    <div class="nav-bar-links">
      <div class="nav-bar-links-item">
        <fa-icon [icon]="faInstagram" class="nav-bar-links-item-icon"></fa-icon>
      </div>
      <div class="nav-bar-links-item">
        <fa-icon [icon]="faFacebook" class="nav-bar-links-item-icon"></fa-icon>
      </div>
      <div class="nav-bar-links-item">
        <fa-icon [icon]="faTikTok" class="nav-bar-links-item-icon"></fa-icon>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
