<div class="services-page">
  <div class="services-title">
    <h1 class="services-title-h1">Services</h1>
  </div>
  <div class="services-offers">
    <div class="services-offers-offer">
      <div class="services-offer-wrapper offer-1">
        <div class="services-offer">
          <div class="services-offer-icon">
            <i class="fa-solid fa-dumbbell"></i>
          </div>
          <h2>Individualni treninzi</h2>
          <button class="button-18" role="button">Detaljnije</button>
        </div>
      </div>
      <hr class="offer-hr"  />
      <div>
        <p class="offer-text">
          Za efikasnije vežbanje i brže postizanje ciljeva koje ste sebi
          postavili preporučujemo vam personalizovani, individualni trening,
          dizajniran prema Vašim potrebama i sposobnostima.
        </p>
      </div>
    </div>
    <div class="services-offers-offer">
      <div class="services-offer-wrapper offer-2">
        <div class="services-offer">
          <div class="services-offer-icon">
            <i class="fa-solid fa-utensils"></i>
          </div>
          <h2>Plan ishrane / Program treninga</h2>
          <button class="button-18" role="button">Detaljnije</button>
        </div>
      </div>
      <hr class="offer-hr" />
      <p class="offer-text">
        Na osnovu informacija prikupljenih o vama, dizajniramo plan ishrane i
        treninga tačno po vašoj meri.
      </p>
    </div>
    <div class="services-offers-offer">
      <div class="services-offer-wrapper offer-3">
        <div class="services-offer">
          <div class="services-offer-icon">
            <i class="fa-solid fa-desktop"></i>
          </div>
          <h2>Online mentorstvo</h2>
          <button class="button-18" role="button">Detaljnije</button>
        </div>
      </div>
      <hr class="offer-hr"  />
      <p class="offer-text">
        Online mentorstvo je fleksibilna i isplativa alternativa tradicionalnom
        ličnom treningu i može vam pomoći da brže postignete svoje zdravstvene i
        fitnes ciljeve nego da to sami radite.
      </p>
    </div>
  </div>
</div>
