/* You can add global styles to this file, and also import other style files */
.app-component {
  width: 100%;
}
h1 {
  color: red;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.nav-bar {
  /* background-color: #212529;
  
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 5%;
  position: fixed; */
  background-color: #ffffff;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  /* padding-left: 2%; */
  padding-right: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: initial;
  width: 90%;
  box-sizing: border-box;
  z-index: 100;
}
.nav-bar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar-links-item{
  margin: 0 5px;
}
.nav-bar-links-item-icon{
  font-size: 26px;
  font-weight: 600;
}
.nav-bar-links-item-icon:hover{
  cursor: pointer;
  color: #ae2012;
}
.app-component{
  position: relative;
}
.router-outlet {
 margin-top: 5px;
}
.nav-bar-logo-img {
  height: 100px;
}
.nav-bar-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar-items a {
  height: 20px;
  color: rgb(7, 7, 7);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;
}
.active {
  color: red;
}
