.home-component {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-component-intro {
  width: 90%;
  height: 100vh;
  background-image: url("src\assets\Untitled-9.jpg");
  background-position: center;
  background-size: cover;
  /* transform: translateY(120px); */
}

