<div class="offers-component">
  <div class="offers-component-item-wrapper">
    <div class="offers-item">
      <div class="offers-item-image">
        <fa-icon [icon]="faUtensils" class="offers-icon"></fa-icon>
      </div>
      <div class="offers-item-offer">
        <h3>Naslov</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
  </div>
  <div class="offers-component-item-wrapper">
    <div class="offers-item">
      <div class="offers-item-image">
        <fa-icon [icon]="faUtensils" class="offers-icon"></fa-icon>
      </div>
      <div class="offers-item-offer">
        <h3>Naslov</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
  </div>
  <div class="offers-component-item-wrapper">
    <div class="offers-item">
      <div class="offers-item-image">
        <fa-icon [icon]="faUtensils" class="offers-icon"></fa-icon>
      </div>
      <div class="offers-item-offer">
        <h3>Naslov</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
  </div>
  <div class="offers-component-item-wrapper">
    <div class="offers-item">
      <div class="offers-item-image">
        <fa-icon [icon]="faUtensils" class="offers-icon"></fa-icon>
      </div>
      <div class="offers-item-offer">
        <h3>Naslov</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
  </div>
  <div class="offers-component-item-wrapper">
    <div class="offers-item">
      <div class="offers-item-image">
        <fa-icon [icon]="faUtensils" class="offers-icon"></fa-icon>
      </div>
      <div class="offers-item-offer">
        <h3>Naslov</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
  </div>
  <div class="offers-component-item-wrapper">
    <div class="offers-item">
      <div class="offers-item-image">
        <fa-icon [icon]="faUtensils" class="offers-icon"></fa-icon>
      </div>
      <div class="offers-item-offer">
        <h3>Naslov</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
  </div>
</div>
