<div class="offers-component">
  <div class="offers-component-item-wrapper">
    <div class="services-offer-wrapper offer-1">
      <div class="services-offer">
        <div class="services-offer-icon">
          <i class="fa-solid fa-dumbbell"></i>
        </div>
        <h2>Individualni treninzi</h2>
        <button class="button-18" type="button" (click)="goToIndividualTraining()" role="button">Detaljnije</button>
      </div>
    </div>
  </div>
  <div class="offers-component-item-wrapper">
    <div class="services-offer-wrapper offer-2">
      <div class="services-offer">
        <div class="services-offer-icon">
          <i class="fa-solid fa-utensils"></i>
        </div>
        <h2>Plan ishrane / Program treninga</h2>
        <button class="button-18" type="button" (click)="goToIndividualTraining()" role="button">Detaljnije</button>
      </div>
    </div>
  </div>
  <div class="offers-component-item-wrapper">
    <div class="services-offer-wrapper offer-3">
      <div class="services-offer">
        <div class="services-offer-icon">
          <i class="fa-solid fa-desktop"></i>
        </div>
        <h2>Online mentorstvo</h2>
        <button class="button-18" type="button" (click)="goToIndividualTraining()" role="button">Detaljnije</button>
      </div>
    </div>
  </div>
  <!-- <div class="offers-component-item-wrapper">
    <div class="offers-item">
      <div class="offers-item-image">
        <fa-icon [icon]="faUtensils" class="offers-icon"></fa-icon>
      </div>
      <div class="offers-item-offer">
        <h3>Naslov</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
  </div> -->
  <!-- <div class="offers-component-item-wrapper">
    <div class="offers-item">
      <div class="offers-item-image">
        <fa-icon [icon]="faUtensils" class="offers-icon"></fa-icon>
      </div>
      <div class="offers-item-offer">
        <h3>Naslov</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
  </div> -->
  <!-- <div class="offers-component-item-wrapper">
    <div class="offers-item">
      <div class="offers-item-image">
        <fa-icon [icon]="faUtensils" class="offers-icon"></fa-icon>
      </div>
      <div class="offers-item-offer">
        <h3>Naslov</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>
  </div> -->
</div>
